GOOGLE_SHEET_ID=your_google_sheet_id_here
GOOGLE_SHEET_NAME=reservations
GOOGLE_SERVICE_ACCOUNT_FILE=C:/absolute/path/to/service-account.json
# Or alternatively:
# GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}

SMTP_HOST=smtp.abv.bg
SMTP_PORT=587
SMTP_USER=paradise_cutz2026@abv.bg
SMTP_PASSWORD=your_smtp_password_here
BARBER_ACTION_EMAIL=paradise_cutz2026@abv.bg
PUBLIC_BASE_URL=http://127.0.0.1:8000
